# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

/run

/parchment-server/build.gradle.kts
/parchment-server/src/minecraft
/paper-server
/parchment-api/build.gradle.kts
/paper-api
/paper-api-generator

.idea/
